<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-autowire="byName">
	
	<!-- loading resource file-->
	<context:component-scan base-package="com.springcloud.cmserver.mgmt" />
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:C:/spring-cloud-cm/cm-server/src/main/resources/mongodb.properties</value>
			</list>
		</property>	
	</bean>
	
	<util:properties id="backupJDBC"
		location="file:/abp_home/ucm/config/backup_jdbc.properties" />
	
	<!-- datasource setting -->
	<bean id="morphia" class="com.google.code.morphia.Morphia"/>
	
    <bean id="mongo" class="com.mongodb.Mongo">
        <constructor-arg value="${mongodb.host}"/>
        <constructor-arg value="${mongodb.port}"/>
    </bean>
    
    <bean id="dataStore" class="com.springcloud.cmserver.mgmt.core.common.dao.MongoDataStore">
	  	<constructor-arg ref="morphia" index="0" />
	    <constructor-arg ref="mongo" index="1" />
	    <constructor-arg index="2" value="${mongodb.dbName}"></constructor-arg>
	    <constructor-arg index="3" value="${mongodb.userName}"></constructor-arg>
	    <constructor-arg index="4" value="${mongodb.password}"></constructor-arg>
	</bean>

	
	
	<!-- backup data source start-->

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="#{backupJDBC['jdbc.driverClass']}" />
		<property name="jdbcUrl" value="#{backupJDBC['jdbc.jdbcUrl']}" />
		<property name="user" value="#{backupJDBC['jdbc.user']}" />
		<property name="password" value="#{backupJDBC['jdbc.password']}" />
		<property name="minPoolSize" value="#{backupJDBC['jdbc.minPoolSize']}" />
		<property name="maxPoolSize" value="#{backupJDBC['jdbc.maxPoolSize']}" />
		<property name="initialPoolSize" value="#{backupJDBC['jdbc.initialPoolSize']}" />
		<property name="maxIdleTime" value="#{backupJDBC['jdbc.maxIdleTime']}" />
		<property name="acquireIncrement" value="#{backupJDBC['jdbc.acquireIncrement']}" />
		<property name="acquireRetryAttempts" value="#{backupJDBC['jdbc.acquireRetryAttempts']}" />
		<property name="acquireRetryDelay" value="#{backupJDBC['jdbc.acquireRetryDelay']}" />
		<property name="testConnectionOnCheckin"
			value="#{backupJDBC['jdbc.testConnectionOnCheckin']}" />
		<property name="preferredTestQuery" value="#{backupJDBC['jdbc.preferredTestQuery']}" />
		<property name="idleConnectionTestPeriod"
			value="#{backupJDBC['jdbc.idleConnectionTestPeriod']}" />
		<property name="checkoutTimeout" value="#{backupJDBC['jdbc.checkoutTimeout']}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.connection.autocommit">true</prop>
				<prop key="hibernate.connection.release_mode">after_transaction</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.autoReconnect">true</prop>
				<prop key="hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.springcloud.cmserver.mgmt.core.backup*"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- backup data source end-->
	
	<bean id="service_1001" 
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.ConnectService" />
	<bean id="service_1002" 
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.PingService" />
	<bean id="service_1003" 
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.AppQueryConfigService" />
	<bean id="service_1004" 
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.TechServiceQueryConfigService" />
	<bean id="service_1006" 
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.AlarmService" />
	<bean id="service_1007" 
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.PerformanceService" />
	<bean id="service_1008" 
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.QueryAMListService" />
	<bean id="service_1009" 
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.ResourceAssignService" />
	<bean id="service_1010"
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.StudioChangeTSConfigService" />
	<bean id="service_1012"
		class=" com.springcloud.cmserver.mgmt.cm.service.busi.TechServiceStartFinishedNotifyService" />
	
</beans>